## mako
<%! 
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="http://cern.ch">
          <img src="http://ictr-phe14.web.cern.ch/ictr-phe14/images/logos/cern.jpg" alt="Challenge Based Innovation" width="105" height="49"/>
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <ul>
          <li class="home"><a href="http://cern.ch">CERN Home</a></li>
          <li class="maps alt"><a href="http://maps.cern.ch">Maps &amp; Directions</a></li>
          <li class="search-stanford"><a href="http://www.stanford.edu/search/">Search</a></li>
        </ul>
        <div class="clear"></div>
        <p class="copyright vcard">&copy; <span class="fn org">IdeaSquare</span>, <span class="adr"> <span class="locality">CERN</span> <span class="region"></span> <span class="postal-code"></span> </span></p>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
